
<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>
<body>
    <h1>Index Page</h1>
    <div>item 
        <a href="/recipes/show">show</a>
        <a href="/recipes/edit">edit</a>

    </div>
</body>
</html>